
body {
    height: 97vh;
    margin: 0;
}

/* no about button on phones */
@media (max-width: 767px) {
    .about {
        display: none !important; 
    }
}

/* Navigation bar/Buttons bar */
.navbar {
    height: 60px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(24, 24, 24);
}

/* the 'Xylophone' text on Navbar */
.navbar p {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2vw;
}

/* All the buttons */
.modeselect>button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    transition: transform 0.3s;
}

.modeselect button:hover {
    filter: brightness(0.8);
    transform: scale(1.08);
}

.modeselect button:active {
    filter: brightness(0.5);
}

/* dark mode/light mode BUTTONS */
#darkmode {
    display: none;
    margin-right: 15px;
}

#lightmode {
    margin-right: 15px;
}

/* dark mode/light mode */
.dark {
    background-color: rgb(32, 32, 32);
}

.light {
    background-color: beige;
}

/* for all buttons (including xylophone keys) */
/* removes whatever stupid inbuilt things <button> tag does */
button {
    border-radius: 7px;
    -webkit-tap-highlight-color: transparent; /* removes tap flash */
    outline: none;
    border: none;
}

button:active,
.active {
    transform: none;          /* removes press shrink */
    /* background-color: inherit; removes pressed color change */
    box-shadow: none;          /* removes shadow change */
    filter: brightness(0.8);
    box-shadow: 0 3px 4px 0 #DBEDF3;
}

/* Xylophone main */
.xyloall {
    height: 80vh;
    display: flex;
    flex-direction: column;   /* stack vertically */
    justify-content: center;  /* vertical centering */
    align-items: center;      /* horizontal centering */
    position: relative;     
    /* allows postioning overlapping elements front and back */
}

.xylophonekeys {
    height: 5vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 3; 
    /* highest meaning it would be at front */
}

hr {
    height: 2vh;
    width: calc(calc(8 * 75px) + calc(7 * 2vw));
    max-width: 98.5vw;
    background-color:rgb(112, 112, 112);
    z-index: 1;
    /* low meaning it would be sent to back */
    outline: none;
    border: none;
}

.keys {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
}

.add-border {
    border: 2px solid rgb(48, 48, 48);
}

.keys p {
    background: whitesmoke;
    border-radius: 10px ;
    width: 30px;
}

#key1 {
    height: 40vh;
    min-height: 200px;
    background-color: dodgerblue;
}

#key2 {
    height: 37vh;
    min-height: 185px;
    background-color: greenyellow;
}

#key3 {
    height: 34vh;
    min-height: 170px;
    background-color: yellow;
}

#key4 {
    height: 31vh;
    min-height: 155px;
    background-color: orange;
}

#key5 {
    height: 28vh;
    min-height: 140px;
    background-color: red;
}

#key6 {
    height: 25vh;
    min-height: 125px;
    background-color: purple;
}

#key7 {
    height: 22vh;
    min-height: 110px;
    background-color: white;
}

#key8 {
    height: 19vh;
    min-height: 95px;
    background-color: dodgerblue;
}
